/*about section*/
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.about .col-left img {
    max-width:10%;
    height: auto;
    border-radius: 10%;
}

.about .col-right {
    width: 100%;
}

.about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

.about .col-right p {
    margin-bottom: 50px;
}

.about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}


/*start of home button*/
.button{
    position: fixed;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    z-index: 1;
}
.button:hover {
    background-color: #11ff00;
    text-decoration:underline;
    color: white;
}

.button:active {
  background-color: #da2222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button .A{
    color: white;
    text-decoration: none;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }  
.btn .D{
    color: white;
    text-decoration: none;
}
/*End of home button*/
/*end about section*/